body {
    background-color: #FFF4E1;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;
  }

.h2 {
  color: #7EC2C2;
  font-size: 40px; 
}

.App {
    text-align: center;
  }

.title {
    color: #7EC2C2;
    text-align: center;
    font-size: 55px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 450px;
    height: 450px;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/*地域選択画面用*/
.return_to_top {
  position: center; 
  z-index: 10000;
  top: 700px; 
  text-align: center;
}

.select {
  position: center; 
  z-index: 10000;
  text-align: center;
}

.figsize_select {
  width: 30%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color:rgb(217, 217, 217);
}

.table_font {
  color: #52aab6;
  font-size: 20px; 
  font-weight: bolder;
}

.place {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

/*検索結果ページ用*/
.Button-to-SelectPage {
  position: absolute; 
  z-index: 10000; /*これが大きいほど前面に表示される*/
  top: 770px;
  left: 150px; 
  text-align: left;
}

.Button-to-TopPage {
  position: absolute; 
  z-index: 10000;
  top: 770px; 
  right: 150px; 
  text-align: right;
}

.box1 {
  padding: 0.0em 1em;
  margin: 0em 0;
  width: 230px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #6091d3;/*文字色*/
  background: #cde4ff;
  border-radius: 10px;/*角の丸み*/
}

.box1 p {
  margin: 0; 
  padding: 0;
}

.card1 {
  position: absolute;
  z-index: 10000;
  top: 260px; /* 上から10px移動 */
  left: 100px; /* 左から20px移動 */
}

.card2 {
  position: absolute;
  z-index: 10000;
  top: 260px; /* 上から10px移動 */
  left: 500px; /* 左から20px移動 */
}

.card3 {
  position: absolute;
  z-index: 10000;
  top: 260px; /* 上から10px移動 */
  left: 950px; /* 左から20px移動 */
}

/*画像ファイルの位置とサイズを調整*/
.fig_Daibutu {
  position: absolute; 
  z-index: 0;
  top: 400px; 
  left: 200px; 
}


.fig_Tera {
  position: absolute; 
  z-index: 0;
  top: 300px; 
  left: 700px; 
}

.fig_RyokouKaban {
  position: absolute; 
  z-index: 100;
  top: 600px; 
  left: 700px; 
}


.fig_RyokouKaban2 {
  position: absolute; 
  z-index: 100;
  top: 650px; 
  left: 500px; 
}

.fig_HotelMan {
  position: absolute; 
  z-index: 0;
  top: 140px; 
  left: 350px; 
}
